<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name="countryName" value="Brazil"></parameter>
<parameter name="userName" value="TestUser"></parameter>
<parameter name="gender" value="Female"></parameter>
  <test thread-count="5" name="Test">
  <classes>
      <class name="com.qa.tests.TestRun"/>
    </classes>
  </test> <!-- Test -->
  
<test thread-count="5" name="TestScenario">
  <classes>
      <class name="com.qa.tests.TestScenarioRun"/>
    </classes>
  </test>
  <listeners>
  <listener class-name="com.qa.TestReports.ExtentReportFile"></listener>
  </listeners>
  
</suite> <!-- Suite -->
